nav {
    background-color: #f2f2f2;
    padding: 10px;
}

div {
    height: 100%;
}

nav div a {
    text-decoration: none;
    color: #333;
    margin-right: 10px;
}

nav div {
    display: inline-block;
}

.page:hover, .logout:hover {
    color: #ff0000;
}

.page:hover, .logout:hover {
    background-color: #97c5d670;
}

nav .logout {
    float: right;
}

nav .user {
    float: right;
    margin-right: 20px;
}